main {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>form {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(0.9vh + 0.9vw);
    padding-top: calc(1vh + 1vw);
    border-radius: 50%;
    background: var(--off-white);
    width: calc(20vh + 20vw);
    height: calc(20vh + 20vw);
}

main>form>h1 {
    color: var(--blue-1);
    text-shadow: calc(-0.08vh + -0.08vw) calc(0.08vh + 0.08vw) calc(0.1vh + 0.1vw) var(--black),
        calc(0.05vh + 0.05vw) calc(-0.05vh + -0.05vw) calc(0.05vh + 0.05vw) var(--white);
    font-size: calc(1.8vh + 1.8vw + 1vmin);
}

main>form>p:nth-child(2) {
    color: var(--black);
    font-size: calc(0.7vh + 0.7vw + 0.7vmin);
    font-weight: 900;
    width: 70%;
}

main>form>input[type="file"] {
    display: none;
}

main>form>label {
    border-radius: calc(0.2vh + 0.2vw);
    background: var(--red);
    text-align: center;
    display: flex;
    position: relative;
    overflow: hidden;
    color: var(--white);
    text-shadow: calc(-0.05vh + -0.05vw) calc(0.05vh + 0.05vw) calc(0.04vh + 0.04vw) var(--black);
    font-weight: 600;
    min-width: 85%;
    max-width: 85%;
    font-size: calc(0.7vh + 0.7vw + 0.2vmin);
}

main>form>label>span:nth-child(1) {
    min-width: 60%;
    padding: calc(0.5vh + 0.5vw);
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

main>form>label>span:nth-child(2) {
    background: var(--blue-2);
    min-width: 40%;
    padding: calc(0.5vh + 0.5vw);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

main>form>label>span:nth-child(2):hover {
    filter: brightness(0.7);
}

main>form>.btn {
    border-radius: 50%;
    border: calc(0.05vh + 0.05vw) solid var(--blue-2);
    padding: calc(0.4vh + 0.4vw) calc(1vh + 1vw);
    cursor: not-allowed;
    font-weight: 900;
    color: var(--white);
    background-color: var(--blue-2);
    transition: background 0.4s;
    font-size: calc(1vh + 1vw + 0.2vmin);
}

main>form>.hover:hover {
    background: var(--red);
}